.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__top {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }

  .button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    width: 100%;
  }

  .block {
    width: 360px;
    padding: 50px;
  }

  &__success-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    height: 400px;

    h2 {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      color: #a0a0a0;
    }
  }
}

.login-form {
  &__input {
    line-height: 3 !important;
  }

  &__register-link {
    text-align: center;
    margin-top: 1rem;
    display: block;
    font-weight: 500;
  }
}
