@import "../../styles/variables.scss";

.message {
  $self: &;
  $indicator-size: 9px;

  display: flex;
  max-width: 440px;
  margin-bottom: 20px;

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    img {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      margin-right: 13px;
      margin-bottom: 5px;
    }
  }

  &__bubble {
    display: inline-block;
    background-color: $blue;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__text {
    color: $white;
    font-size: 14px;
    line-height: 20px;
  }

  &__attachments {
    display: flex;
    &-item {
      margin-right: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      img {
        max-width: 45px;
        min-width: 45px;
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
    }
  }

  &__date {
    display: block;
    color: $gray;
    font-size: 12px;
    line-height: 16px;
  }

  &__icon-readed {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  &__info {
    display: flex;
    align-items: flex-end;
  }

  &--is-audio {
    #{$self}__bubble {
      width: 250px;
      position: relative;
      overflow: hidden;
    }

    #{$self}__audio {
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      &-btn {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #0f3997;
          border: 0;
          cursor: pointer;
          outline: none;
          svg {
            width: 12px;
            height: 12px;
            color: $white;
          }
        }
      }

      &-duration {
        color: $white;
        font-size: 14px;
        font-weight: 500;
        opacity: 0.5;
      }

      &-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        background-color: $white;
        opacity: 0.3;
        transition: width 0.3s linear;
      }
    }
  }

  &--isme {
    flex-direction: row-reverse;

    #{$self}__info {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
    }

    #{$self}__bubble {
      display: inline-block;
      border-radius: 12px 12px 0 12px;
      background: $white;
      border: 1px solid #e0e0e0;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.196733);
      border-radius: 12px 12px 0 12px;

      #{$self}__text {
        color: $black;
      }
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__date {
      display: block;
      text-align: right;
    }

    #{$self}__icon-readed {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 0;
      margin-right: 10px;
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background: $message-typing-blue;
      border: 0;
      box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
    }
  }

  &--image {
    #{$self}__attachments {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-item {
        margin-right: 0;
        margin-bottom: 0;
        img {
          max-width: 150px;
          min-width: 100px;
          width: 100%;
          height: 100%;
          border-radius: 12px;
        }
      }
    }
  }

  &__typing-indicator {
    span {
      width: $indicator-size;
      height: $indicator-size;
      border-radius: 50%;
      background: $gray;
      display: inline-block;
      margin-right: $indicator-size;
      opacity: 0.8;

      &:nth-of-type(1) {
        animation: typing-indicator 1s infinite;
      }

      &:nth-of-type(2) {
        animation: typing-indicator 1s infinite 0.2s;
      }

      &:nth-of-type(3) {
        animation: typing-indicator 1s infinite 0.4s;
      }

      @keyframes typing-indicator {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(0.5);
        }
        100% {
          transform: scale(1);
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      &.is-typing {
        background: $blue;
      }

      &.is-typing::before {
        content: "";
        width: $indicator-size;
        height: $indicator-size;
        border-radius: 50%;
        background: $blue;
        display: inline-block;
        margin-right: $indicator-size;
      }

      &.is-typing::after {
        content: "";
        width: $indicator-size;
        height: $indicator-size;
        border-radius: 50%;
        background: $blue;
        display: inline-block;
        margin-right: $indicator-size;
      }
    }
  }
}
